extends ../layout
  
block content
  h1 Users
  div.page

  script(type='text/template' id="user-list-template")  
    h4 Users
    a(href="#/new") New User
    ul
      <% _.each(users, function(user){ %>
      li 
        <%= user.get('email') %>
      li 

        a(href!="#/edit/<%= user.email %>") Edit User 
      <% }); %>

  script(type="text/template" id="edit-user-template")
    form(class="edit-user-form")
      legned New User

      input(type="text" name="email")

      input(type="submit")
     
block scripts
  script(src="javascripts/user.js")
