doctype html
html
  head
    title= title

  body
    h1 Node.js & Express 4 API

    block content
    
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/underscore/underscore.js")
    script(src="components/backbone/backbone.js")
    
    block scripts